#contents-2 {
  background-color: rgb(233, 163, 71);
}

#contents-3 {
  background-color: rgb(78, 106, 243);
}

#contents-4 {
  background-color: rgb(231, 45, 12);
}

#contents-5 {
  background-color: rgb(0, 163, 41);
}

#contents-6 {
  background-color: rgb(255, 0, 242);
}

#article-1 {
  background-color: beige;
}

#article-1-image {
  background-color: blue;
}

#article-2 {
  background-color: antiquewhite;
}

#article-2-image {
  background-color: aquamarine;
}

/* bagian navbar  */
#navbar-nav {
  background-color: rgb(231, 171, 42);
}

#garis-navbar {
  margin: 0px 0px;
  height: 3px;
  opacity: 0.5;
}

#Getstarted {
  border-radius: 20px;
}

#bt-carousel {
  margin: 1em 0;
  border-radius: 20px;
  width: 30%;
}

#saya {
  min-height: 30vh;
  padding-top: 50px;
  font-size: 20px;
}

#garis-staycurios {
  height: 3px;
  opacity: 0.5;
}

section.bg-nav {
  background-color: rgb(231, 171, 42);
}

/*bagian trending */

#contents {
  padding: 2em;
}

#contents-1 {
  margin: 1em 0;
  padding: 1em;
}

#contents-1-number {
  color: grey;
  opacity: 0.25;
}

#contents-1-contents {
  padding-top: 0.5em;
}

#contents-1-content-title {
  font-size: 1.2em;
  margin-bottom: 0;
}

/*layout website */
@media screen and(min-width:1400px) {
  #carousel-left-button {
    margin: 1em 0;
    width: 20%;
  }

  #carousel {
    margin: 2em 0;
  }

  #contents-1 {
    padding: 1em;
  }
}
